@layer components {

    .customer-auth-back{
        @apply relative bg-cover bg-center bg-fixed h-screen;
    }

    .cusotmer-auth-section{
        @apply absolute bg-beige/80 left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2 px-8 pt-6 mt-2 rounded-lg shadow-lg w-full md:max-w-lg;
    }

    .auth-heading {
        @apply font-lustria font-semibold text-3xl text-center p-3;
    }

    .auth-question {
        @apply font-montserrat text-black tracking-wider;
    }

    .header-back {
        @apply bg-beige text-black p-2 font-semibold;
    }

    .admin-sidemenu{
        @apply flex items-center gap-3 bg-brown px-4 py-3 hover:bg-btnHoverBrown;
    }

    .admin-dashboard-card {
        @apply bg-beige rounded-lg shadow p-6;
    }

    .admin-dashboard-card-title {
        @apply text-lg font-semibold font-montserrat tracking-wide;
    }

    .home-category{
        @apply flex-shrink-0 w-72 text-center bg-beige rounded-full;
    }

    .home-category-img{
        @apply w-72 h-36 object-cover rounded-full mb-4;
        
    }

    .home-category-img:hover{
        transform: scale(1.05);
        filter: grayscale(0%);
    }

    .home-category-name{
        @apply text-xl font-medium flex justify-center;
        font-family: 'Lustria', serif;
    }

    .heading-style{
        @apply text-center text-black text-3xl pt-4;
        font-family: 'Lustria', serif;
    }

    .furniscape-advantage-box{

        /* @apply flex flex-col items-start p-4 rounded-lg bg-beige text-black; */
        /* font-family: 'Montserrat', sans-serif;  */  

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background-color: #F5F5F3;
        /* background-color: aquamarine; */
        color: #3B3937;
        padding: 10px;
        margin: 10px;
        border-radius: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        letter-spacing: 0.05em;

        width: 280px;
        height: 100px;
        gap: 8px; /*space between icon and text*/
        /* box-shadow: 0 4px 6px rgba(0,0,0,0.1); */
        /*Animation*/
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.195);
        transition: all 300ms ease-in-out;
        /* transition: transform 300ms ease, box-shadow 300ms ease; */
        transform-origin: center;

    }

    .furniscape-advantage-box:hover{
        transform: scale(1.03) translateY(-4px);
        box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.25);
        cursor: pointer;
        background-color: #ecebe7;
    }

    .furniscape-advantage-box i{
        padding: 10px;
        background-color: #967F71;
        border-radius: 100%;
        color: #F5F5F3;

    }

    .product-div{
        @apply bg-beige p-6 m-4 transform transition duration-300 hover:scale-105 hover:-translate-y-2 hover:shadow-xl rounded-lg;
    }

    .product-img {
        @apply w-full h-48 object-contain rounded-lg;
    }

    .product-name{
        @apply tracking-wide font-semibold text-black text-center m-2;
        font-family: 'Montserrat', sans-serif;

    }

    .product-price {
        @apply text-black font-medium mb-4;
        font-family: 'Montserrat', sans-serif;
    }

    .product-div-btn {
        @apply flex flex-row items-center gap-4;
    }

    .product-view-btn {
        @apply bg-brown font-semibold text-beige p-3.5 rounded-full cursor-pointer hover:bg-btnHoverBrown transform transition duration-200 hover:scale-110 active:scale-95;
        font-family: 'Montserrat', sans-serif;
    }

    .product-addtocart-btn {
        @apply bg-brown text-beige p-3.5 rounded-full cursor-pointer hover:bg-btnHoverBrown transform transition duration-200 hover:scale-110;
    }

    .action-section{
        @apply bg-beige mt-5 flex md:flex-row flex-col md:h-56 mb-7;
    }

    .action-img{
        @apply md:w-2/3 w-full h-56;
    }

    .action-div{
        @apply flex flex-col justify-center items-center p-6 mb-7;
    }

    .action-p{
        @apply text-black text-2xl text-center m-2 p-2;
        font-family: 'Montserrat', sans-serif;
    }

    .action-a{
        @apply bg-brown text-2xl text-beige font-semibold py-3.5 px-7 rounded-full cursor-pointer hover:bg-btnHoverBrown;
        font-family: 'Montserrat', sans-serif;
    }

    .image-gallery-animation{
        @apply transform transition duration-300 ease-in-out hover:scale-105 cursor-pointer rounded-lg shadow-md;
    }

}